:root {
  --primary-color: rgb(151, 154, 207);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.m-1 {
  margin-top: 15px;
}

header {
  display: flex;
  height: 150px;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #333;
  font-weight: 700;
}

/* Container for body */
.main-container {
  max-width: 900px;
  margin: 5vh auto 0 auto;
  background-color: #d3d3d3;
  text-align: center;
  color: #333;
}

.main-container h2 {
  font-size: 3.2rem;
  margin: 10px;
}

.main-container p {
  font-size: 2rem;
  margin: 10px;
}

.main-container input {
  margin-bottom: 20px;
}

/* Container for Player and Computer Card */
.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* RPS Cards */
.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  background: var(--primary-color);
  margin: 0 25px;
  border-radius: 15px;
}

.card button {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

#player-display,
#computer-display {
  font-size: 3rem;
}

/* Reset Button */
#reset {
  cursor: pointer;
  padding: 10px 15px;
  margin: 20px;
  background-color: var(--primary-color);
  border: none;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 5px;
}
