:root {
  --primary-color: rgb(255, 159, 10);
  --secondary-color: rgba(100, 210, 255, 0.6);
  --lose-color: rgb(255, 69, 58);
  --win-color: rgb(48, 209, 88);
  --border-color: rgb(0, 0, 0);
  --background-color: rgb(230, 250, 250) ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
}
/* Utility */
a {
  text-decoration: none;
}

.m-1 {
  margin-top: 15px;
}

/* Header */
header {
  display: flex;
  height: 150px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color);
  border-radius: 15px 15px 0 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* Container for body */
.main-container {
  max-width: 900px;
  margin: 5vh auto 0 auto;
  text-align: center;
  border: 1px solid var(--border-color);
  color: #333;
  background-color: var(--background-color);
  border-radius: 15px;
}

.main-container h2 {
  font-size: 3.2rem;
  margin-top: 10px;
}

.main-container p {
  font-size: 2rem;
  margin-bottom: 10px;
}

.main-container input {
  margin-bottom: 20px;
}

/* Container for Player and Computer Card */
.container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Game display */
#game-display {
  font-size: 1.7rem;
  margin: 10px
}

/* RPS Cards */
.row {
  display: flex;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  margin: 0 25px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}

.card button {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
}

#player-display,
#computer-display {
  font-size: 3rem;
}

/* Reset Button */
#reset {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 1.4rem;
  margin: 10px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  border-radius: 15px;
  color: var(--primary-color);
}

/* Footer */
footer {
  text-align: center;
  margin-top: 5px;
}
